[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyter = "*"
flake8 = "*"
isort = "*"
ipdb = "*"
yapf = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
qtconsole = "*"
pyqt5 = "*"

[packages]
opencv-python="*"
opencv-contrib-python="*"
numpy="*"
tensorflow="*"
tensorflow-datasets = "*"
jupyter = "*"

[requires]
python_version = "3.7.4"
